<div class="quizz__container">
  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="" sizes="" srcset="" id="logo" />
    <img src="assets/imgs/justiceleaguelogo.png" alt="">
    <h3>{{ title }}</h3>
    <button class="startBtn" *ngIf=!start (click)="startGame()">Começar</button>
  </div>
<div class="game" *ngIf=start>

    <div *ngIf=!finished class="quizz_questions">
      <h3>{{ questionSelected.question }}</h3>
    </div>

    <div *ngIf=!finished class="quizz_options">
      <button (click)="playerChoice(option.alias)" class="btn-option" *ngFor="let option of questionSelected.options; let i = index">{{option.name}}</button>
    </div>

    <div class="answer_container">
      <span>{{answerSelected}}</span>
    </div>
    <div *ngIf=finished class="quizz_results" [style]="answerBg">
      <img [src]="answerImg" alt="">
      <p>{{answerReason}}</p>
</div>

  </div>
</div>
